<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>一个好人。</p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Github：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>博客园：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>码云：<a href="https://gitee.com/oairong">https://gitee.com/oairong</a></li>
            <li>csdn：<a href="https://blog.csdn.net/a173030685">https://blog.csdn.net/a173030685</a></li>
        </ul>

       <h2>
         Note
       </h2>

       <p>
        评论区来留下你的大名。
       </p>


       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你，可以赞赏我6.66元，请我吃个肉夹馍 :)
       </p>

       <p align="center">

       <img src="http://www.0x0.top/assets/images/tip.jpg" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>
